* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

/* Nome das áreas do Grid*/
aside {
    grid-area: menu;
}

main {
    grid-area: conteudo;
}

footer {
    grid-area: rodape;
}

/* Configurações do Grid e das informações de toda a página */
body{
    background-color: #7f8e9e;
    height: 100vh;
    margin: 0;
    display: grid;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    grid-template-columns: 18.75rem auto;
    grid-auto-rows: 1fr 3.125rem;
    grid-template-areas: 
        'menu conteudo'
        'rodape rodape';
}

/* Configurações do menu */
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;
    background-color: #476c8a;
}

#menu .logo {
    height: 12.5rem;

}

#menu .titulo {
    text-align: center;
}

#menu .titulo h1{
    font-size: 1.7rem;
    margin-bottom: 0.625rem;
    font-weight: 700;
}

#menu .titulo h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.875rem;
}

#menu .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu .nav .menu-item {
    box-sizing: content-box;
    text-decoration: none;
    text-align: center;
    color: #000;
    padding: 0.625rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    width: 18.75rem;
    transition: all 0.7s ease;
}

#menu .nav .menu-item:hover {
    background-color: #4279a3;
}

#menu .nav .menu-item img{
    margin-right: 0.31rem;
    height: 1.25rem;
}

/* Configurações do conteúdo */
.conteudo {
    padding-left: 1.87rem;
    box-shadow: inset 5px 0px 4px rgba(0, 0, 0, 0.16);
}

.conteudo .info-1 {
    background-color: #fff;
    margin: 0.625rem;
    margin-right: 1rem;
    margin-top: 2rem;
    padding: 1.25rem;
    border-radius: 1.87rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16);
}

.conteudo .info-2{
    display: flex;
    flex-wrap: wrap;
    color: #eaeaea;
    justify-content: center;
    margin: 0.625rem;
    margin-right: 1rem;
}

.conteudo .info-2 .item-info {
    height: 12.5rem;
    width: 21.87rem;
    margin: 0.625rem;
    padding: 1.25rem;
    border-radius: 1.87rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16);
}

.conteudo .info-2 .item-info p{
    font-weight: 700;
}

.conteudo .info-2 .item-info li{
    font-weight: 500;
}

.conteudo .video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.25rem 0;
}

.conteudo .video .player {
    max-width: 30rem;
    width: calc(100% - 2rem);
    height: 17rem;
}

.conteudo .info-2 .item-info:nth-child(1){
    background: linear-gradient(149deg, #d6271b 30%, #e96359 100%);
}

.conteudo .info-2 .item-info:nth-child(2){
    background: linear-gradient(149deg, #f37736 30%, #f19868 100%);
}

.conteudo .info-2 .item-info:nth-child(3){
    background: linear-gradient(149deg, #b9ac14 20%, #c5bd69 100%);
}

.conteudo .info-2 .item-info:nth-child(4){
    background: linear-gradient(149deg, #7bc043 30%, #a3db76 100%);
}

.conteudo .info-2 .item-info:nth-child(5){
    background: linear-gradient(149deg, #0392cf 30%, #5bb8e0 100%);
}

/* Configurações do Rodapé */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #49657b;
    color: #fff;
}


/*Configuração de Responsividade*/
@media (max-width: 728px) {
    
    body {
        grid-template-columns: auto;
        grid-auto-rows: 15.62rem 1fr 3.12rem;
        grid-template-areas: 
        'menu'
        'conteudo'
        'rodape';
    }

    #menu {
        display: grid;
        grid-template-columns: 12.5rem 1fr;
        grid-template-rows: 12.5rem 3.12rem;
        padding-top: 0;
    }

    #menu .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-column: span 2;
    }

    #menu .logo{
        height: calc(100% - 1.25rem);
        margin-left: 1.25rem;
    }

    .conteudo {
        padding: 1.25rem;
        box-shadow: inset 0px 5px 4px rgba(0, 0, 0, 0.16);
    }

    .conteudo .info-2{
        flex-direction: column;
    }
    
    .conteudo .info-2 .item-info {
        width: auto;
    }

    .conteudo .video .player {
        width: calc(100% - 2rem);
        height: 17rem;
    }
}