.conteudo .info-2 .contato{
    width: 100%;
    padding: 1.25rem;
    margin-top: 1rem;
    border-radius: 1.87rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16);
    background: linear-gradient(149deg, #4279a3 30%, #759ebd 100%);
}

.conteudo .info-2 .contato form div > *{
    width: 100%;
    margin-bottom: 1.25rem;
}

.conteudo .info-2 .contato form button {
    background-color: #b1bec9;
    border: none;
    border-radius: 1.25rem;
    height: 1.56rem;
    width: 4.37rem;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}

.conteudo .info-2 .contato form input,textarea {
    border: none;
    border-radius: 0.31rem;
    outline: none;
    padding: 0.31rem;
}


.conteudo .info-2 .contato form button:active {
    background-color: #1d364b;
    color: #fff;
}